.loading {
  height: 40px;
}

.loader {
    width: 100%;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: #fff;
    overflow: hidden;
  }
  .loader::after {
    content: '';
    width: 96px;
    height: 4.8px;
    background: #2196F3;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: hitZak 1.9s linear infinite alternate;
  }
  
  @keyframes hitZak {
    0% {
      left: 0;
      transform: translateX(-1%);
    }
    100% {
      left: 100%;
      transform: translateX(-99%);
    }
  }
      