.buttonsFilter {
  display: flex;
  width: 503px;
  height: 40px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #A0B0B9;
}
  
.buttonFilter {
  width: 167px;
  color: #4A4A4A;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: url('../../assets/images/Cursor.svg'), auto;
}

.buttonFilter:nth-child(2) {
  border-left: 1px solid #A0B0B9;
  border-right: 1px solid #A0B0B9;
}

.buttonFilterActive {
  background: #2196F3;
  color: #fff;
}